@tailwind base;
@tailwind components;
@tailwind utilities;
@import "reset.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

* {
    scrollbar-color: transparent;
}

*::-webkit-scrollbar {
    width: 4px;
}

/* Track */
*::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Handle */
*::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 8px;
}

.slick-arrow.slick-prev {
    left: 0;
    z-index: 100;
}

.slick-arrow.slick-next {
    right: 0;
    z-index: 100;
}
